#my_form{
    padding: 2%;
    margin: 2%;

}
#my_btn_div{
    float: right;
    margin-right: 0%;
    padding-right: 0%;
    background-color: brown;
}
#btncancel{
    float: right;
    margin-right: 0%;
    width: 60px;
    height: 40px;
}
#etd{
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 25%
    
}
body{
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;  
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    transform:scale(1.03,1.03);
    transform-origin:center;
    transition: 300ms
  }
  .table tr th{
    background-color: rgb(105, 107, 114);
    color: white;
  }

#title_header{
    text-align: center;
    font-size: 25px;
    top: 0;
}

.window {
    height: 1000px; 
    overflow: hidden; 
  }
  
  .scrollable  {
    overflow: scroll;
    height: 100%;
  }
  
  .tblheader tr th{
    width: 100px;
    text-align: center;
    padding-right: 2%;
  }
  .tbl tr td{
    width: 100px;
    text-align: center;
  }