#my_form{

    padding: 2%;
    margin: 2%;

}
#my_btn_div{
    float: right;
}
#etd{
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 25%
    
}
body{
    justify-content: center;
    align-items: center;
}
#description{
    padding: 0%;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    transform:scale(1.03,1.03);
    transform-origin:center;
    transition: 300ms
  }
  .table tr th{
    background-color: rgb(105, 107, 114);
    color: white;
  }