<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel='stylesheet' type='text/css' media='screen' href='../main.css'>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="window">
        <div id="title_header">
            Delivered But Not Paid Orders
            <div id="my_btn_div" class=" btnclosediv">
                <button id="btncancel" class="btn btn-danger btnclose">×</button>
            </div>
        </div>
        <div class="table-responsive" id="tbldiv">
            <table class="table">
                <tr>
                    <th>
                        Order ID
                    </th>
                    <th>
                        Customer
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Shade
                    </th>
                    <th>
                        Order Price
                    </th>
                    <th>
                        Order Date
                    </th>
                    <th>
                        Deliver Date
                    </th>
                    <th>
                        Organization
                    </th>
                    <th>
                        Contact
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Update
                    </th>
                </tr>
            </table>
        </div>
        <div class="table-responsive scrollable">
            <table id="orderTable" class="table table-hover tbl">

            </table>
        </div>
    </div>
    <script src="../scripts/mainWindow.js">
    </script>

</body>

</html>