<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel='stylesheet' type='text/css' media='screen' href='../main.css'>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="window">
        <div id="title_header">
            Active Products
            <div id="my_btn_div" class=" btnclosediv">
                <button id="btncancel" class="btn btn-danger btnclose">×</button>
            </div>
        </div>
        <div class="table-responsive" id="tbldiv">
        <table class="table" id="tblproductheader">
            <tr>
                <th>
                    Product ID
                </th>
                <th>
                    Product Name
                </th>
                <th>
                    isactive
                </th>
                <th>
                    Update
                </th>
            </tr>
        </table>
    </div>
    <div class="table-responsive scrollable">
            <table id="productTable" class="table table-hover tbl">
             
            </table>
    </div>
</div>
</body>
<script>
    require('../scripts/viewProducts.js')
</script>

</html>