<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel='stylesheet' type='text/css' media='screen' href='../main.css'>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</head>

<body>
    <div id="my_form">
        <form action="" class="form">
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">Select Customer<span style="color:red">*</span></label>
                    <select class="form-control" id="customer_id" required autofocus>
                        <option value="">--Select Customer--</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="control-label">Select Products<span style="color:red">*</span></label>
                    <select id="product_id" class="form-control" required>
                        <option value="">--Select Product--</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                        <label class="control-label">Shade</label>
                        <select id="shade" class="form-control">
                            <option>--Select Shade--</option>
                            <option>A1</option>
                            <option>A2</option>
                            <option>A3</option>
                            <option>A4</option>
                            <option>A5</option>
                            <option>A6</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group ">
                        <label class="control-label">Price<span style="color:red">*</span></label>
                        <input type="number" class="form-control" id="product_price" maxlength="50" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                        <label class="control-label">Customer Order Date<span style="color:red">*</span></label>
                        <input type="date" class="form-control" id="order_date" maxlength="50"
                            class="invalid-feedback" required>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group ">
                        <label class="control-label">Product Deliver Date</label>
                        <input type="date" class="form-control" id="deliver_date" maxlength="50">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Order Description </label>
                        <textarea class="form-control" id="description" rows=5 maxlength="255">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">IsActive</label>
                    <select id="isactive" class="form-control">
                        <option selected>Pending</option>
                        <option>Paid</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="my_btn_div">
                        <button type="submit" class="btn btn-primary"> Update</button>
                        <button id="btncancel" class="btn btn-danger">Cancel</button>

                    </div>
                </div>
            </div>
        </form>
    </div>


    <script src="../scripts/editOrder.js"></script>

</body>

</html>